@media (min-width: 768px) {
    /* webkit animations */
    @-webkit-keyframes turn {
        from {
            overflow: hidden;
            opacity: 0;
            transform: scale(0);
        }
        50% {
            transform: scale(1.1);
        }
        to {
            opacity: 1;
            transform: none;
        }
    }

    /* generic animations */
    @keyframes turn {
        from {
            overflow: hidden;
            opacity: 0;
            transform: scale(1.2);
        }
        to {
            opacity: 1;
            transform: none;
        }
    }

    /* add animations to elements */
    body {
        -webkit-animation-duration: 1s;
        -webkit-animation-name: turn;
        animation-duration: 5s;
        animation-name: turn;
        border-radius: 6px;
    }
}
