@keyframes scaley {
    from {
        opacity: 0;
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
        transform: none;
    }
}
@keyframes scalex {
    from {
        transform: scaleX(0);
    }
    50% {
        transform: scaleX(0);
    }
    to {
        transform: none;
    }
}

.jumbotron {
    transform-origin: top;
    animation-duration: 0.3s;
    animation-name: scaley;
}
.well {
    transform-origin: left;
    animation-duration: 0.6s;
    animation-name: scalex;
}
