html {
}

body {
    overflow-x: hidden;
    background-color: transparent;
}

.contact > dl > dt > a, footer, h1, h2 {
    text-shadow: none;
}

.page {
    margin: 0;
    padding: 0;
    position:relative;
    min-height: 100%;
    width: 100%;
    overflow-x: auto;
}

.page-1 {
}
.page-2 {
}

.container, .container-fluid, body, html {
    position:relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.col-lg-12, .col-md-12, .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
}

.jumbotron {
    background: transparent;
}

.jumbotron, .hgroup>h2 {
    font-weight: 300;
    color: black;
    font-family: "Open Sans", Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page > .col-xs-12 {
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0 0 3em 3em rgba(255,255,255,0.9);
}
html {
    border-top: solid #f1f1f1;
    background: url(bg.jpg) no-repeat bottom right fixed;
    background-size: 100%;
}
@media screen and (min-width: 768px) {
    .container, .container-fluid {
        padding-top: 3em;
    }
    .container-fluid .jumbotron {
    }
    .dl-horizontal > dt {
        width: 100px;
        color: #999;
    }
    .dl-horizontal > dd {
        margin-left: 120px;
    }
    .hgroup {
        padding-left: 120px;
    }
    .container .jumbotron {
        font-size: 120%;
        padding: 48px 0 0 0;
        margin-left: auto;
        margin-right: auto;
        width: 650px;
    }
    .jumbotron > hr {
        margin-left: 120px;
    }

}

footer {
    z-index: 100;
    position: relative;
    padding: 0 5px 0 0;
    margin: 0;
    width: 100%;
    font-size: 12px;
    background: rgba(0,0,0,0.8);
    border-bottom: solid black;
}

.row {
    margin: 0;
}

.contact {
    font-size: 150%;
    line-height: 1.5;
}

