html {
    width: 100%;
    font-family: 'Open Sans', sans;
    color: #444444;
}
h1, .jumbotron>h1 {
    font-family: 'Ubuntu', sans;
    font-weight: 300;
}

.jumbotron {
    text-align: center;
    background: rgba(255,255,255,0.5);
    margin-top: 1em;
}

#face {
    border-radius: 30em;
}

@media (max-width: 768px) {
    body {
        color: black !important;
    }
    a {
        color: #337ab7 !important;
    }
}

.layer-link.collapsed {
    color: black;
    text-decoration: none;
}

.link-list > li:after {
    content: ', ';
}
.link-list > li:last-child:after  {
    content: '.';
}
body {
    background: url(/gallery/Piha.jpg) right no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
.well {
    background-color: rgba(255,255,255,0.75);
    border: 1px solid rgba(255,255,255,0.5);
}
.well:hover, ul.social > li:hover {
    /* background-color: rgba(255,255,255,0.875); */
}
#eecrow {
    margin-left: -30px;
    margin-right: -30px;
}
@media (max-width: 768px) {
    #eecrow {
        background-color: rgba(255,255,255,0.875);
    }
    #eecrow > div > div.well {
        margin: 0;
        border: none;
        border-radius: 0;
        box-shadow: none;
        background: transparent;
    }
}
