body {
    width: 100%;
    font-family: 'Open Sans', sans;
    color: #444444;
}
h1, .jumbotron>h1 {
    font-family: 'Ubuntu', sans;
    font-weight: 300;
}

body:hover .container {
}
.container .jumbotron {
    text-align: center;
    background: transparent;
    padding-bottom: 0;
}

.container {
    padding-bottom: 45px;
}

.row.content {
    padding-left: 45px;
    padding-right: 45px;
    border-radius: 6px;
}
.row.content .col-sm-4:hover, .jumbotron {
    color: black;
}
.row.content .col-sm-4:hover a {
    color: #337ab7;
}
.row.content .col-sm-4 a {
    color: black;
    transition: color 0.2s linear;
}
#face {
    border-radius: 30em;
}

@media (max-width: 768px) {
    body {
        color: black !important;
    }
    a {
        color: #337ab7 !important;
    }
}
