@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local('Ubuntu'), url(fonts/Ubuntu-Light.woff) format('woff'), url(fonts/Ubuntu-Light.ttf) format('truetype'), url(fonts/Ubuntu-Light.svg) format('svg');
}

#logo {
  border-left: solid #08c 0.8em;
  width: 1em;
  margin: auto;
  height: 1em;
  border-top: solid #023 0.8em;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  background-color: #046;
  border-radius: 0.5em;
}

body {
  border-top: solid 0.5em rgb(0, 136, 204);
  background-color: rgb(246,246,246);
  text-align: center;
  font-family: Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

article {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 50%;
}

h1,h2,h3 {
  font-weight: normal;
}

h1 {
  font-weight: 300;
  font-family: Ubuntu, Helvetica, Arial, sans-serif;  
}

h2 {
  display: none;
}

h3 {
  font-style: italic;
  font-family: "Times New Roman", serif;
}

hr {
  width: 68%;
  margin-left: 16%;
  border: solid thin rgb(0, 136, 204);
}

a {
  color: rgb(0, 136, 204);
}

a:visited {
  color: rgb(50, 50, 50);
}
