body {
  border-top: solid 0.5em rgb(0, 136, 204);
  background-color: rgb(246,246,246);
  text-align: center;
  font-family: Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

h1,h2,h3 {
  font-weight: normal;
}
h2 {
  display: none;
}

h3 {
  font-style: italic;
  font-family: "Times New Roman", serif;
}

hr {
  width: 68%;
  margin-left: 16%;
  border: solid thin rgb(0, 136, 204);
}

a {
  color: rgb(0, 136, 204);
}

a:visited {
  color: rgb(50, 50, 50);
}
