<hgroup>
<h1>
  Milan Oberkirch
</h1>
</hgroup>

<article>
  <hr class=hr-top />
  I'm a programmer and inventor speaking php, python, c++ and nearly anything in between.
  <hr class=hr-bottom />
</article>

<footer>
  Get in touch with me on
  <a id="google-plus-link" class="contact"
    href="https://plus.google.com/117694210733926990485">Google+</a>,
  <a id="xing-link" class="contact"
    href="http://www.xing.com/profile/Milan_Oberkirch">XING</a>
  or via email at
  <a id="email-address" class="contact"
    href="mailto:zvynar@gmail.com">zvynar@gmail.com</a>.<br/>
  <small>
    <a class=link-impressum href="impressum-static.html">Impressum</a>.
  </small>
</footer>
