<div class="hgroup">
<h1>
<img src="/img/me.png" alt="Milan Oberkirch" class=autogram>
</h1>
</div>

<article>
  <hr class=hr-top />
  I'm a programmer and inventor speaking python, c++, php and many things in between.
  <hr class=hr-bottom />
</article>

<footer>
  Get in touch with me on
  <a id="google-plus-link" class="contact"
    href="https://plus.google.com/117694210733926990485?rel=author">Google+</a>,
  <a id="xing-link" class="contact"
    href="http://www.xing.com/profile/Milan_Oberkirch">XING</a>
  or via email at
  <a id="email-address" class="contact"
    href="mailto:input@oberkirch.org">input@oberkirch.org</a>.<br/>
  <small>
    <a class=link-impressum href="impressum.html">Impressum</a>.
  </small>
</footer>
