<div class="hgroup">
<h1>
  Impressum
</h1>
German law requires me to publish the following information, you may want to
ignore it and go <a href="/" class="link-home">back</a>.
<h3>Angaben gemäß § 5 TMG:</h3>
</div>

<article>
  <hr class=hr-top />
  <p>
  Milan Oberkirch<br/>
  Händelstr. 20<br/>
  Zimmer 306<br/>
  79104 Freiburg<br/>
  </p>

  Kontakt: <br/>
  <table style="display: inline-table;">
    <tr><td>Telefon:</td><td>+4915127118138</td></tr>
    <tr><td>E-Mail:</td><td>zvynar@gmail.com</td></tr>
  </table>
  <hr class=hr-bottom />
</article>

<footer>
  <small><a href="/" class="link-home">Home.</a></small>
</footer>
